{% extends "index.html" %}

{% with messages=get_flashed_messages() %}
  {% if messages %}
    <script type="text/javascript">
      var m={{ messages|safe }};
      for(var i=0;i<m.length;i++)
      {
        alert(m[i]);
      }
    </script>
  {% endif %}
{% endwith %}

{%block contents%}
<table style="width: 100%;">
  <tr>
    <td>Roll No</td>
    <td>First Name</td>
    <td>Last Name</td>
    <td>Contact Number</td>
    <td>Email ID</td>
    <td>Stream</td>
    <td>Gender</td>
    <td>Date of Birth</td>
    <td>Date of Joining</td>
    <!-- <td>Edit</td> -->
    <td>Delete</td>
  </tr>
  {% for d in data %}
  <tr>
    <td>{{d[0]}}</td>
    <td>{{d[1]}}</td>
    <td>{{d[2]}}</td>
    <td>{{d[3]}}</td>
    <td>{{d[4]}}</td>
    <td>{{d[8]}}</td>
    <td>{{d[7]}}</td>
    <td>{{d[9]}}</td>
    <td>{{d[10]}}</td>
    <td>
      <form action="{{url_for('home')}}" method="POST">
        <button value={{d[0]}} name="delete">Delete</button>
      </form>
    </td>
  </tr>
  {%endfor%}
</table>
{%endblock%}